<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TipTip</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <div class="container">
            <h1>TipTip</h1>
            <div id="app-region"></div>
            <hr />
            <div class="clearfix text-muted">
                <p class="pull-left">
                    <small>For Shelly Yocham</small>
                </p>
                <p class="pull-right">
                    <small>&#169; 2013 Jonathan D. Baker</small>
                </p>
            </div>
        </div>

        <!-- TEMPLATES -->
        <script type="text/template" id="layout-tpl">
            <div id="header-region"></div>
            <div id="message-region"></div>
            <div id="main-region"></div>
            <div id="footer-region"></div>
        </script>

        <script type="text/template" id="bill-create-tpl">
            <form role="form">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" id="bill-create" type="text" placeholder="24.99" autofocus />
                    <span class="input-group-addon" id="js-input-clear">X</span>
                </div>
            </form>
        </script>

        <script type="text/template" id="bill-item-tpl">
            <td><strong><%= tipPercentage %>%</strong></td>
            <td><% if (tipAmount) { %><%= formatMoney(tipAmount) %><% } %></td>
        </script>

        <script type="text/template" id="bill-panel-tpl">
            <div class="clearfix">
                <p class="pull-left">Your average tip is <%= avgPercentage %>, or <%= avgAmount %>.</p>
                <button class="btn btn-default btn-sm pull-right" id="js-history-clear">Clear History</button>
            </div>
        </script>

        <script type="text/template" id="bills-composite-tpl">
            <table class="table table-bordered table-striped"><tbody></tbody></table>
        </script>

        <script type="text/template" id="message-tpl">
            <div class="alert alert-<%= kind %>"><%= body %></div>
        </script>

        <!-- REMOTE ASSETS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.3.0/lodash.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.1.0-bundled/backbone.marionette.min.js"></script>

        <!-- LOCAL ASSETS -->
        <script src="./js/vendor/backbone.localstorage.js"></script>
        <script src="./js/app/app.js"></script>
        <script src="./js/app/localstorage.js"></script>
        <script src="./js/app/models.js"></script>
        <script src="./js/app/views.js"></script>
        <script src="./js/app/controllers.js"></script>
        <script>
        (function($) {
            TipTip.start();
        })(jQuery);
        </script>
    </body>
</html>
